# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

const API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6anVqdXB6ZnR3eGxkeXVwZWt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMzMTUxMzIsImV4cCI6MjA2ODg5MTEzMn0.xgIttiHsEyMQRMgo4wguqqByeXfN6LDT2yFgt09RS5o"

